[submodule "OS_EE_Script_Modules.Altis"]
	path = OS_EE_Script_Modules.Altis
	url = https://github.com/EidEchse/OS_EE_Script_Modules.Altis.git
[submodule "OS_Arsenal.VR"]
	path = OS_Arsenal.VR
	url = https://github.com/EidEchse/OS_Arsenal.VR.git
[submodule "OS_ACE_Modules"]
	path = OS_ACE_Modules
	url = https://github.com/EidEchse/OS_ACE_Modules.Altis.git
[submodule "OS_ALiVE_Modules.Altis"]
	path = OS_ALiVE_Modules.Altis
	url = https://github.com/EidEchse/OS_ALiVE_Modules.Altis.git
[submodule "OS_Scripts"]
	path = OS_Scripts
	url = https://github.com/EidEchse/OS_Scripts.git
